[alias]
        # From https://github.com/jessfraz/dotfiles/blob/master/.gitconfig
        # View abbreviated SHA, description, and history graph of the latest 20 commits
        l = log --pretty=oneline -n 20 --graph --abbrev-commit

        # View the current working tree status using the short format
        s = status -s
        branches = branch -a
        amend = commit --amend --reuse-message=HEAD
	conflicts = !git ls-files -u | cut -f 2 | sort -u

[apply]

        # Detect whitespace errors when applying a patch
        whitespace = fix

[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true
[user]
        name = Victor Afanassieff
        email = victor@afanassieff.com
	signingkey = 72C20E245B3DB421
[credential]
        helper = osxkeychain
[http]
        sslVerify = true
[core]
        editor = vim

[help]
	autocorrect = 1
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
